@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@400;700&display=swap');

html, body {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(215, 215, 225);
    background: rgb(23, 24, 27);
    font-family: 'Ubuntu Sans' ,'Ubuntu', 'Sans-Serif';
}

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: #72461c;
}

header .logo {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
    background: rgb(23, 24, 27);
    color: rgb(215, 215, 225);
    border-radius: 0.5rem;
    transition: all 0.4s ease;
}

header .logo:hover {
    background: rgb(215, 215, 225);
    color: rgb(23, 24, 27);
    transform: scale(1.05);
}

header .logo img {
    height: 1.5em;
    width: 1.5em;
    margin-right: 0.7rem;
}

header .logo span {
    font-size: 1.5rem;
    font-weight: 800;
}

header nav {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

header nav a {
    margin: 0 0.5rem;
    padding: 0.7rem;
    background-color: rgb(23, 24, 27);
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 700;
    color: rgb(215, 215, 225);
    transition: all 0.3s ease;
}

header nav a:hover {
    background-color: rgb(215, 215, 225);
    color: rgb(23, 24, 27);
    transform: scale(1.05);
}

header nav .selected {
    background-color: #472505;
    color: rgb(215, 215, 225);
}

a {
    text-decoration: underline;
    color: #f6ce3a;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction:column;
    width: 100%;
}

footer {
    position: relative;
    margin-top: auto;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(215, 215, 225);
    font-size: 0.6rem;
    font-weight: 700;
}
